.columns {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
}

.entry {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

#homeButton {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: #212F42;
    cursor: pointer;
}

#towCompanyInfo {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
}